# 项目：整理Netflix电影演员评分数据

## 分析目标

此数据分析的目的是，整理不同流派影视作品，比如喜剧片、动作片、科幻片中，各演员出演作品的平均IMDB评分，从而挖掘出各个流派中的高评分作品演员。  

本实战项目的目的在于练习整理数据，从而得到可供下一步分析的数据。

## 简介

原始数据集记录了截止至2022年7月美国地区可观看的所有Netflix电视剧及电影数据。数据集包含两个数据表：`titles.csv`和`credits.csv`。  

`titles.csv`包含电影及电视剧相关信息，包括影视作品ID、标题、类型、描述、流派、IMDB（一个国外的在线评分网站）评分，等等。  

`credits.csv`包含超过7万名出现在Netflix影视作品的导演及演员信息，包括名字、影视作品ID、人物名、演职员类型（导演/演员）等。

`titles.csv`每列的含义如下：
- id：影视作品ID。
- title：影视作品标题。
- show_type：作品类型，电视节目或电影。
- description：简短描述。
- release_year：发布年份。
- age_certification：适龄认证。
- runtime：每集电视剧或电影的长度。
- genres：流派类型列表。
- production_countries：出品国家列表。
- seasons：如果是电视剧，则是季数。
- imdb id：IMDB的ID.
- imdb_score：IMDB的评分。
- imdb_votes：IMDB的投票数。
- tmdb_popularity：TMDB的流行度。
- tmdb_score：TMDB的评分。

`credits.csv`每列的含义如下：
- person_ID：演职员ID。
- id：参与的影视作品ID。
- name：姓名。
- character_name：角色姓名。
- role：演职员类型，演员或导演。

## 读取数据

导入数据分析所需要的库，使用`pandas`库里的`read_csv`函数，解析原始文件`title.csv`为Dataframe并赋值给`original_title`变量，解析原始文件`credits.csv`为Dataframe并赋值给`original_credits`变量。

In [1]:
import pandas as pd

In [2]:
original_titles = pd.read_csv("./titles.csv")
original_credits = pd.read_csv("./credits.csv")

In [3]:
original_credits.head()

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

## 评估和清洗数据

在这一部分中，我们将对在上一部分建立的`original_titles`及`original_credits`DataFrame所包含的数据进行评估和清理。  

主要从两个方面进行：结构和内容，即整齐度和干净度。
数据的结构性问题指不符合“每个变量为一列，每个观察值为一行，每种类型的观察单位为一个表格”这三个标准；数据的内容性问题包括存在丢失数据、重复数据、无效数据等。
为了区分开经过清理的数据和原始的数据，我们创建新的变量`cleaned_titles`，让它为`original_titles`复制出的副本，以及创建新的变量`cleaned_credits`,让它为`original_credits`复制出的变量。我们之后的清理步骤都将被运用在`cleaned_titles`和`cleaned_credits`。

In [4]:
cleaned_titles = original_titles.copy()
cleaned_credits = original_credits.copy()

### 数据整齐度

In [5]:
pd.set_option("display.max_colwidth", 150)
cleaned_titles.sample(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
745,tm35700,Paan Singh Tomar,MOVIE,Paan Singh Tomar goes from celebrated runner to star brigand and rebel when life after sports fails to unfold as planned.,2012,PG,135,"['drama', 'crime', 'sport', 'thriller', 'action']",['IN'],NaN,tt1620933,8.2,36077.0,4.424,7.400
720,tm38064,Berserk: The Golden Age Arc II - The Battle for Doldrey,MOVIE,"The Band of the Hawk participates in the Midland war campaign. On the bloody battlefield, they conquer decisive victories that lead them to Doldre...",2012,R,98,"['action', 'drama', 'fantasy', 'animation', 'horror']",['JP'],NaN,tt2358911,7.7,10470.0,20.201,7.500
172,tm189171,Wild Tango,MOVIE,"A biopic based on the life of one of the pioneer argentine rock stars 'Tanguito'. The movie tells the story of his rise and fall from grace, encom...",1993,R,124,"['drama', 'music', 'romance']","['ES', 'AR']",NaN,tt0108291,6.7,1584.0,5.092,6.100
3056,ts81007,After Life,SHOW,"Tony had a perfect life. But after his wife Lisa suddenly dies, Tony changes. After contemplating taking his own life, he decides instead to live ...",2019,TV-MA,28,"['comedy', 'drama']",['GB'],3.0,tt8398600,8.4,129243.0,19.931,7.843
2985,tm480647,Ayana,MOVIE,An ambitious software entrepreneur puts everything he has in line to perceive his dreams.,2017,NaN,128,"['drama', 'documentation']",['KG'],NaN,tt6891660,7.1,127.0,0.600,NaN

In [6]:
cleaned_credits.sample(10)

,person_id,id,name,character,role
15370,44725,tm37573,Hiro Hayama,Spungehuff,ACTOR
61843,139715,ts221472,Dalal Abdelaziz,عفاف عصمت,ACTOR
44435,1266918,tm244149,Joe Passaro,Wedding Wise Guy #4,ACTOR
68906,226703,tm897466,Damien Boisseau,Fukamichi (Voice),ACTOR
28076,387448,tm315344,Chris Boyle,Jordan Bloom,ACTOR
68529,3160,tm1003034,Graham McTavish,Deglan (voice),ACTOR
57448,368513,tm462277,Robby Grewal,NaN,DIRECTOR
2202,32968,tm191110,Olivia Rosewood,Mary Marvin (uncredited),ACTOR
21425,1261,tm193769,Kate Winslet,Joanna Hoffman,ACTOR
41517,238252,tm245383,Boriana Williams,Young Te Ata,ACTOR

从数据的抽样来看，`titles`中`genres`和`production_countries`两个变量包含多个值，应当进行拆分。

先抽取任意一个`genres`变量和`production_countries`的值进行观察。

In [7]:
cleaned_titles["genres"][1]

"['drama', 'crime']"

In [8]:
cleaned_titles["production_countries"][10]

"['GB', 'US']"

可以看出，虽然这两个变量的值的表达形式是列表，但是值的数据类型是字符串。可以通过Python内置的`eval`函数来将其转化为列表。

In [9]:
cleaned_titles["genres"] = cleaned_titles["genres"].apply(lambda x: eval(x))
cleaned_titles["production_countries"] = cleaned_titles["production_countries"].apply(lambda x: eval(x))

In [10]:
print(cleaned_titles["genres"][1])
print(cleaned_titles["production_countries"][10])

['drama', 'crime']
['GB', 'US']

通过检查可以发现已经将其转化为列表的数据类型，之后可以通过Dataframe的`explode`方法将这些值进行拆分。

In [11]:
cleaned_titles = cleaned_titles.explode("genres")

In [12]:
cleaned_titles = cleaned_titles.explode("production_countries")

In [13]:
cleaned_titles["production_countries"][10]

10    GB
10    US
10    GB
10    US
10    GB
10    US
Name: production_countries, dtype: object

In [14]:
cleaned_titles.loc[10]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
10,tm44204,The Guns of Navarone,MOVIE,A team of allied saboteurs are assigned an impossible mission: infiltrate an impregnable Nazi-held island and destroy the two enormous long-range ...,1961,NaN,158,action,GB,NaN,tt0054953,7.5,50748.0,13.844,7.3
10,tm44204,The Guns of Navarone,MOVIE,A team of allied saboteurs are assigned an impossible mission: infiltrate an impregnable Nazi-held island and destroy the two enormous long-range ...,1961,NaN,158,action,US,NaN,tt0054953,7.5,50748.0,13.844,7.3
10,tm44204,The Guns of Navarone,MOVIE,A team of allied saboteurs are assigned an impossible mission: infiltrate an impregnable Nazi-held island and destroy the two enormous long-range ...,1961,NaN,158,drama,GB,NaN,tt0054953,7.5,50748.0,13.844,7.3
10,tm44204,The Guns of Navarone,MOVIE,A team of allied saboteurs are assigned an impossible mission: infiltrate an impregnable Nazi-held island and destroy the two enormous long-range ...,1961,NaN,158,drama,US,NaN,tt0054953,7.5,50748.0,13.844,7.3
10,tm44204,The Guns of Navarone,MOVIE,A team of allied saboteurs are assigned an impossible mission: infiltrate an impregnable Nazi-held island and destroy the two enormous long-range ...,1961,NaN,158,war,GB,NaN,tt0054953,7.5,50748.0,13.844,7.3
10,tm44204,The Guns of Navarone,MOVIE,A team of allied saboteurs are assigned an impossible mission: infiltrate an impregnable Nazi-held island and destroy the two enormous long-range ...,1961,NaN,158,war,US,NaN,tt0054953,7.5,50748.0,13.844,7.3

经过拆分之后，数据已经满足了“每列是一个变量，每行是一个观察值，每个单元格是一个值”这三个标准，是整洁数据。  

之后对数据的内容干净度进行评估和清洗。

### 数据干净度

先用DataFrame的`info`方法对数据的大致信息作一个了解。

In [15]:
cleaned_titles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17818 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    17818 non-null  object
 1   title                 17817 non-null  object
 2   type                  17818 non-null  object
 3   description           17790 non-null  object
 4   release_year          17818 non-null  int64
 5   age_certification     10889 non-null  object
 6   runtime               17818 non-null  int64
 7   genres                17755 non-null  object
 8   production_countries  17439 non-null  object
 9   seasons               6224 non-null   float64
 10  imdb_id               17116 non-null  object
 11  imdb_score            16976 non-null  float64
 12  imdb_votes            16945 non-null  float64
 13  tmdb_popularity       17663 non-null  float64
 14  tmdb_score            17241 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 2.7+ MB

In [16]:
cleaned_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77801 entries, 0 to 77800
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  77801 non-null  int64
 1   id         77801 non-null  object
 2   name       77801 non-null  object
 3   character  68029 non-null  object
 4   role       77801 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.0+ MB

经过观察可以发现，在`cleaned_titles.csv`中有很多变量的值都存在缺失值，但是由于项目的目的是整理不同流派影视作品，从而挖掘出各个流派中的高评分作品演员。因此关键变量只有`id`、`type`、`genres`、`imdb_id`、`imdb_scores`和`imdb_votes`。  

所以对于`title`、`description`、`age_certification`、`production_countries`、`seasons`、`tmdb_popularity `、`tmdb_score`变量缺失的观察值可以保留。  

`release_year`变量的数据类型应该为时间，后续需要进行修改。

而在`cleaned_credites.csv`中存在`character`变量缺失的观察值，此变量缺失对分析目的没有影响，故该变量缺失的观察值可以保留。

同时`perso_id`变量的数据类型应该为oject，后续进行修改。

In [17]:
cleaned_titles["release_year"] = pd.to_datetime(cleaned_titles["release_year"])
cleaned_credits["person_id"] = cleaned_credits["person_id"].astype(str)

In [18]:
cleaned_titles["release_year"]

0      1970-01-01 00:00:00.000001945
1      1970-01-01 00:00:00.000001976
1      1970-01-01 00:00:00.000001976
2      1970-01-01 00:00:00.000001972
2      1970-01-01 00:00:00.000001972
                    ...
5847   1970-01-01 00:00:00.000002021
5848   1970-01-01 00:00:00.000002021
5849   1970-01-01 00:00:00.000002021
5849   1970-01-01 00:00:00.000002021
5849   1970-01-01 00:00:00.000002021
Name: release_year, Length: 17818, dtype: datetime64[ns]

#### 评估并处理缺失数据

因为`imdb_scores`变量的值与我们的分析目的息息相关，因此先提取出`imdb_scores`变量缺失的观察值进行分析。

In [19]:
cleaned_titles[cleaned_titles["imdb_score"].isnull()]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,"This collection includes 12 World War II-era propaganda films — many of which are graphic and offensive — discussed in the docuseries ""Five Came B...",1970-01-01 00:00:00.000001945,TV-MA,51,documentation,US,1.0,NaN,NaN,NaN,0.600,NaN
75,tm132164,Bill Hicks: Sane Man,MOVIE,"Sane Man was filmed before Bill recorded ‘Dangerous’, his first comedy album, and is a turning point in Hicks’ career. It was the first complete H...",1970-01-01 00:00:00.000001989,R,80,comedy,US,NaN,NaN,NaN,NaN,3.377,7.5
145,ts251477,My First Errand,SHOW,“Hajimete no Otsukai” (First Errand) is a Japanese TV show that follows small children as they carry out errands for their parents.,1970-01-01 00:00:00.000001991,TV-G,18,documentation,JP,12.0,NaN,NaN,NaN,7.730,7.8
145,ts251477,My First Errand,SHOW,“Hajimete no Otsukai” (First Errand) is a Japanese TV show that follows small children as they carry out errands for their parents.,1970-01-01 00:00:00.000001991,TV-G,18,family,JP,12.0,NaN,NaN,NaN,7.730,7.8
145,ts251477,My First Errand,SHOW,“Hajimete no Otsukai” (First Errand) is a Japanese TV show that follows small children as they carry out errands for their parents.,1970-01-01 00:00:00.000001991,TV-G,18,reality,JP,12.0,NaN,NaN,NaN,7.730,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5810,tm1225897,Social Man,MOVIE,"Two competitive social media Influencers go head-to-head to snatch the ""Social Man"" of the year title and are willing to break all the rules to win.",1970-01-01 00:00:00.000002021,NaN,96,drama,NaN,NaN,tt20198164,NaN,NaN,NaN,NaN
5833,ts307884,HQ Barbers,SHOW,"When a family run barber shop in the heart of Lagos is threatened by real estate developers, they'll do whatever it takes to stay in business.",1970-01-01 00:00:00.000002021,TV-14,24,comedy,NG,1.0,NaN,NaN,NaN,0.840,NaN
5840,tm1216735,Sun of the Soil,MOVIE,"In 14th-century Mali, an ambitious young royal named Mansa Musa ascended the throne of the richest kingdom in human history. This follows Malian a...",1970-01-01 00:00:00.000002022,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,1.179,7.0
5844,tm1074617,Bling Empire - The Afterparty,MOVIE,"The stars of ""Bling Empire"" discuss the show's success and play bling-themed games, then comic Joel Kim Booster makes his case for joining the cast.",1970-01-01 00:00:00.000002021,NaN,35,NaN,US,NaN,NaN,NaN,NaN,NaN,NaN
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the cast of the family comedy discuss the show, humiliating family moments, bad BBQ dishes and sitcom o...",1970-01-01 00:00:00.000002021,PG-13,37,NaN,US,NaN,NaN,NaN,NaN,1.296,10.0

观察可以发现，由于这些作品并没有评分，所以并没有分析的价值，后续应该进行删除。  

之后分析`genres`变量值缺失的观察值。

In [20]:
cleaned_titles[cleaned_titles["genres"].isnull() & cleaned_titles["imdb_score"].notnull()]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1813,ts77824,My Next Guest Needs No Introduction With David Letterman,SHOW,TV legend David Letterman teams up with fascinating global figures for in-depth interviews and curiosity-fueled excursions in this monthly talk show.,1970-01-01 00:00:00.000002018,TV-MA,50,NaN,US,4.0,tt7829834,7.8,5581.0,8.217,7.6
1939,ts215037,Minecraft: Story Mode,SHOW,"MInecraft: Story Mode is an interactive, animated TV series from Netflix and Telltale Games. Viewers input decisions that affect the course of the...",1970-01-01 00:00:00.000002018,TV-PG,52,NaN,US,1.0,tt10498322,5.6,347.0,NaN,NaN
2386,ts74805,A Little Help with Carol Burnett,SHOW,"In this unscripted series starring comedy legend Carol Burnett, kids dish out advice to celebrities and everyday people in front of a live audience.",1970-01-01 00:00:00.000002018,TV-G,24,NaN,US,1.0,tt7204366,6.3,237.0,1.621,6.2
2658,ts265844,#ABtalks,SHOW,"#ABtalks is a YouTube interview show hosted by Anas Bukhash, showcasing the 'raw' side of celebrities, athletes, entrepreneurs, and influencers as...",1970-01-01 00:00:00.000002018,TV-PG,68,NaN,NaN,1.0,tt12635254,9.6,7.0,NaN,NaN
4274,tm1172010,The Lockdown Plan,MOVIE,NaN,1970-01-01 00:00:00.000002020,NaN,49,NaN,NaN,NaN,tt13079112,6.5,NaN,NaN,NaN
4648,tm1113921,In Vitro,MOVIE,"'In Vitro' is an otherworldly rumination on memory, history, place and identity set in Bethlehem decades after an eco-disaster.",1970-01-01 00:00:00.000002019,NaN,27,NaN,NaN,NaN,tt10545994,7.7,NaN,NaN,NaN

`genres`变量缺失的观察值也可以进行删除。

In [21]:
cleaned_titles = cleaned_titles.dropna(subset=["genres", "imdb_score"])

In [22]:
sum(cleaned_titles["genres"].isnull())

0

In [23]:
sum(cleaned_titles["imdb_score"].isnull())

0

经过处理后数据已经不含`genres`变量和`imdb_score`变量缺失的观察值。

#### 评估并处理重复数据

In [24]:
sum(cleaned_titles.duplicated())

0

`cleaned_titles`中没有重复数据。

In [25]:
sum(cleaned_credits.duplicated())

0

`clean_credits`中也没有重复数据。

#### 评估并处理不一致数据

经过分析，`cleaned_titles`中`genres`变量和`production_countries`中可能会存在不一致数据并对分析产生影响。

In [26]:
cleaned_titles["genres"].value_counts()

genres
drama            3357
comedy           2419
thriller         1446
action           1339
romance          1080
crime            1066
documentation     981
family            769
animation         732
fantasy           727
european          679
scifi             647
horror            438
history           336
music             266
reality           226
war               221
sport             188
western            53
Name: count, dtype: int64

观察后可以发现并不存在不一致数据。

In [27]:
pd.set_option('display.max_rows', 200)
cleaned_titles["production_countries"].value_counts()

production_countries
US         5648
IN         1610
GB         1068
JP         1046
FR          720
KR          637
ES          637
CA          608
DE          383
CN          295
MX          264
IT          224
BR          221
AU          217
TR          195
PH          192
AR          150
ID          149
BE          148
TW          133
NG          131
PL          126
ZA          103
NL          102
HK          102
CO           94
EG           93
DK           89
TH           87
SE           81
LB           70
NO           68
AE           52
IE           49
SG           47
XX           43
IL           42
RU           41
CL           35
CH           33
PS           32
BG           31
MY           30
SA           28
AT           28
IS           28
LU           27
NZ           27
PE           26
RO           25
QA           24
CZ           22
JO           19
FI           18
HU           18
UY           15
MA           15
PT           14
KH           10
KW           10
PR            9
PK            9
MT            8
UA            8
VN            8
LT            7
IR            7
SU            7
CD            7
TN            7
SN            6
AL            6
KE            6
GH            6
IQ            5
MU            5
CY            5
KN            4
GR            4
IO            4
SY            4
MC            4
TZ            4
GL            3
HR            3
AO            3
BD            3
CM            3
PY            3
BS            3
DZ            3
ZW            2
KG            2
BT            2
VE            2
RS            2
MW            2
VA            2
BY            2
BF            2
GE            1
AF            1
Lebanon       1
GT            1
CU            1
LK            1
NP            1
FO            1
Name: count, dtype: int64

从以上输出结果来看，出品国家都用两位的国家代码来表示，除了里面存在一个的`Lebanon`值。  

`Lebanon`的国家代码是`LB`，出现了39次，说明此处数据不一致。`LB`和`Lebanon`都在表示同一国家，需要进行统一。把`cleaned_titles`里，`production_countries`的`LB`和`Lebanon`统一为`LB`,并检查替换后是否还存`LB`。

In [28]:
cleaned_titles["production_countries"] = cleaned_titles["production_countries"].replace({"Lebanon":"LB"})

In [29]:
cleaned_titles["production_countries"].value_counts()

production_countries
US    5648
IN    1610
GB    1068
JP    1046
FR     720
KR     637
ES     637
CA     608
DE     383
CN     295
MX     264
IT     224
BR     221
AU     217
TR     195
PH     192
AR     150
ID     149
BE     148
TW     133
NG     131
PL     126
ZA     103
HK     102
NL     102
CO      94
EG      93
DK      89
TH      87
SE      81
LB      71
NO      68
AE      52
IE      49
SG      47
XX      43
IL      42
RU      41
CL      35
CH      33
PS      32
BG      31
MY      30
AT      28
SA      28
IS      28
LU      27
NZ      27
PE      26
RO      25
QA      24
CZ      22
JO      19
FI      18
HU      18
UY      15
MA      15
PT      14
KW      10
KH      10
PK       9
PR       9
UA       8
MT       8
VN       8
LT       7
IR       7
CD       7
SU       7
TN       7
SN       6
AL       6
KE       6
GH       6
IQ       5
MU       5
CY       5
KN       4
GR       4
IO       4
SY       4
TZ       4
MC       4
GL       3
CM       3
AO       3
BS       3
HR       3
BD       3
PY       3
DZ       3
KG       2
BT       2
BF       2
MW       2
RS       2
VE       2
ZW       2
VA       2
BY       2
NP       1
GE       1
AF       1
LK       1
GT       1
CU       1
FO       1
Name: count, dtype: int64

处理完成并且检查无误。

同时，`cleaned_credits`中的`role`变量可能存在不一致的值。

In [30]:
cleaned_credits["role"].value_counts()

role
ACTOR       73251
DIRECTOR     4550
Name: count, dtype: int64

可以发现并不存在不一致的值，所以可以将其转化为`category`数据类型，节省存储空间。

In [31]:
cleaned_credits["role"] = cleaned_credits["role"].astype('category')
cleaned_credits["role"]

0           ACTOR
1           ACTOR
2           ACTOR
3           ACTOR
4           ACTOR
           ...
77796       ACTOR
77797       ACTOR
77798       ACTOR
77799       ACTOR
77800    DIRECTOR
Name: role, Length: 77801, dtype: category
Categories (2, object): ['ACTOR', 'DIRECTOR']

#### 评估并处理无效和错误数据

先用`describe`方法对数据进行观察。

In [32]:
cleaned_titles.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,16970,16970.000000,5954.000000,16970.000000,1.694100e+04,16842.000000,16515.000000
mean,1970-01-01 00:00:00.000002015,80.912552,2.455492,6.514207,3.281655e+04,29.396307,6.846933
min,1970-01-01 00:00:00.000001954,0.000000,1.000000,1.500000,5.000000e+00,0.600000,1.000000
25%,1970-01-01 00:00:00.000002015,45.000000,1.000000,5.800000,7.800000e+02,4.070000,6.200000
50%,1970-01-01 00:00:00.000002018,90.000000,2.000000,6.600000,3.508000e+03,10.195000,6.900000
75%,1970-01-01 00:00:00.000002020,107.000000,3.000000,7.300000,1.697800e+04,23.639000,7.500000
max,1970-01-01 00:00:00.000002022,225.000000,42.000000,9.500000,2.294231e+06,2274.044000,10.000000
std,NaN,39.596172,2.869428,1.131095,1.141492e+05,93.178235,1.078831

In [33]:
cleaned_credits.describe()

       person_id       id         name character   role
count      77801    77801        77801     68029  77801
unique     54589     5489        54314     47274      2
top        48004  tm32982  Boman Irani      Self  ACTOR
freq          25      208           25      1950  73251

分析后得出并没有需要处理的错误和无效数据。

## 整理数据

In [34]:
cleaned_titles.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge ...,1970-01-01 00:00:00.000001976,R,114,drama,US,NaN,tt0075314,8.2,808582.0,40.965,8.179
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge ...,1970-01-01 00:00:00.000001976,R,114,crime,US,NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,"Intent on seeing the Cahulawassee River before it's turned into one huge lake, outdoor fanatic Lewis Medlock takes his friends on a river-rafting ...",1970-01-01 00:00:00.000001972,R,109,drama,US,NaN,tt0068473,7.7,107673.0,10.010,7.300
2,tm154986,Deliverance,MOVIE,"Intent on seeing the Cahulawassee River before it's turned into one huge lake, outdoor fanatic Lewis Medlock takes his friends on a river-rafting ...",1970-01-01 00:00:00.000001972,R,109,action,US,NaN,tt0068473,7.7,107673.0,10.010,7.300
2,tm154986,Deliverance,MOVIE,"Intent on seeing the Cahulawassee River before it's turned into one huge lake, outdoor fanatic Lewis Medlock takes his friends on a river-rafting ...",1970-01-01 00:00:00.000001972,R,109,thriller,US,NaN,tt0068473,7.7,107673.0,10.010,7.300

In [35]:
cleaned_credits.head()

  person_id       id             name                character   role
0      3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1     14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2      7064  tm84618    Albert Brooks                      Tom  ACTOR
3      3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4     48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

数据的整理应该要以分析的目的紧密相关，因为本次项目的目的是整理不同流派影视作品，比如喜剧片、动作片、科幻片中，各演员出演作品的平均IMDB评分，从而挖掘出各个流派中的高评分作品演员。  

那为了能够同时获得流派与演员数据，我们需要把`cleaned_titles`和`cleaned_credits`通过`id`作为键进行连接，在`id`在两个dataframe都是表示作品id。

In [36]:
credits_with_titles = pd.merge(cleaned_titles, cleaned_credits, on="id", how="inner")

In [37]:
credits_with_titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge ...,1970-01-01 00:00:00.000001976,R,114,drama,US,NaN,tt0075314,8.2,808582.0,40.965,8.179,3748,Robert De Niro,Travis Bickle,ACTOR
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge ...,1970-01-01 00:00:00.000001976,R,114,drama,US,NaN,tt0075314,8.2,808582.0,40.965,8.179,14658,Jodie Foster,Iris Steensma,ACTOR
2,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge ...,1970-01-01 00:00:00.000001976,R,114,drama,US,NaN,tt0075314,8.2,808582.0,40.965,8.179,7064,Albert Brooks,Tom,ACTOR
3,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge ...,1970-01-01 00:00:00.000001976,R,114,drama,US,NaN,tt0075314,8.2,808582.0,40.965,8.179,3739,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge ...,1970-01-01 00:00:00.000001976,R,114,drama,US,NaN,tt0075314,8.2,808582.0,40.965,8.179,48933,Cybill Shepherd,Betsy,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276104,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has built his career on sexist humor is forced to assume a woman's identity to elude a relentless drug de...,1970-01-01 00:00:00.000002021,NaN,90,comedy,CO,NaN,tt14585902,3.8,68.0,26.005,6.300,736339,Adelaida Buscato,María Paz,ACTOR
276105,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has built his career on sexist humor is forced to assume a woman's identity to elude a relentless drug de...,1970-01-01 00:00:00.000002021,NaN,90,comedy,CO,NaN,tt14585902,3.8,68.0,26.005,6.300,399499,Luz Stella Luengas,Karen Bayona,ACTOR
276106,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has built his career on sexist humor is forced to assume a woman's identity to elude a relentless drug de...,1970-01-01 00:00:00.000002021,NaN,90,comedy,CO,NaN,tt14585902,3.8,68.0,26.005,6.300,373198,Inés Prieto,Fanny,ACTOR
276107,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has built his career on sexist humor is forced to assume a woman's identity to elude a relentless drug de...,1970-01-01 00:00:00.000002021,NaN,90,comedy,CO,NaN,tt14585902,3.8,68.0,26.005,6.300,378132,Isabel Gaona,Cacica,ACTOR
276108,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has built his career on sexist humor is forced to assume a woman's identity to elude a relentless drug de...,1970-01-01 00:00:00.000002021,NaN,90,comedy,CO,NaN,tt14585902,3.8,68.0,26.005,6.300,1950416,Julian Gaviria,NaN,DIRECTOR

同时，因为我们需要分析的是演员的imdb评分，所以我们并不关心`role`变量为`DIRECTOR`的观察值，于是进行筛选。

In [38]:
actors_with_titles = credits_with_titles.query("role == 'ACTOR'")

为了挖掘各个流派中IMDB评分高的演员，我们需要根据演员ID和流派进行分组。  

在分组的时候选用的是`person_id`这个变量，因为`name`有可能会重复，所以用`person_id`是最好的。

In [39]:
groupby_person_id_and_genres = actors_with_titles.groupby(["person_id","genres"])["imdb_score"].mean()
groupby_person_id_and_genres

person_id  genres
1000       action       6.866667
           comedy       8.200000
           crime        8.300000
           drama        7.200000
           fantasy      6.900000
                          ...
99987      romance      7.900000
99997      action       6.900000
           animation    6.900000
           comedy       6.900000
           drama        6.900000
Name: imdb_score, Length: 168881, dtype: float64

现在得到的是各个演员在不同流派中电影imdb得分的平均值。  


因为`groupby`方法选用的分组变量会变成多层索引，所以用`reset_index`方法将其转化为规整的DataFrame。

In [40]:
imdb_score_groupby_person_id_and_genres_df = groupby_person_id_and_genres.reset_index()

In [41]:
imdb_score_groupby_person_id_and_genres_df

       person_id     genres  imdb_score
0           1000     action    6.866667
1           1000     comedy    8.200000
2           1000      crime    8.300000
3           1000      drama    7.200000
4           1000    fantasy    6.900000
...          ...        ...         ...
168876     99987    romance    7.900000
168877     99997     action    6.900000
168878     99997  animation    6.900000
168879     99997     comedy    6.900000
168880     99997      drama    6.900000

[168881 rows x 3 columns]

现在针对流派和演员分组的imdb评分数据已经整理好了，可以进行后续的分析步骤。  

但当前我们可以继续再做一些整理，对上面的结果再次进行分组，找出各个流派里演员最高的平均评分是多少，最高评分对应的演员名字是什么。  

为了得到这一结果，我们先对上面的数据根据`genres`进行分组，然后提取出`imdb_score`的变量，并计算其最大值。

In [42]:
imdb_score_groupby_person_id_and_genres_df.groupby("genres")["imdb_score"].max()

genres
action           9.3
animation        9.3
comedy           9.2
crime            9.5
documentation    9.1
drama            9.5
european         8.9
family           9.3
fantasy          9.3
history          9.1
horror           9.0
music            8.8
reality          8.9
romance          9.2
scifi            9.3
sport            9.1
thriller         9.5
war              8.8
western          8.9
Name: imdb_score, dtype: float64

In [43]:
imdb_score_max = imdb_score_groupby_person_id_and_genres_df.groupby("genres")["imdb_score"].max().reset_index()

In [44]:
imdb_score_max

           genres  imdb_score
0          action         9.3
1       animation         9.3
2          comedy         9.2
3           crime         9.5
4   documentation         9.1
5           drama         9.5
6        european         8.9
7          family         9.3
8         fantasy         9.3
9         history         9.1
10         horror         9.0
11          music         8.8
12        reality         8.9
13        romance         9.2
14          scifi         9.3
15          sport         9.1
16       thriller         9.5
17            war         8.8
18        western         8.9

现在得到各个流派中最高的imdb均分，可以与`imdb_score_groupby_person_id_and_genres_df`以`genres`和`imdb_score`为键做一次连接，这样就可以找到对应的`person_id`。

In [45]:
imdb_score_max_merge_person_id = pd.merge(imdb_score_groupby_person_id_and_genres_df, imdb_score_max, on=["genres", "imdb_score"])
imdb_score_max_merge_person_id

    person_id         genres  imdb_score
0      101292         comedy         9.2
1      101292        romance         9.2
2      103374         comedy         9.2
3      103374        romance         9.2
4     1033815          music         8.8
5      103760        romance         9.2
6      107375       european         8.9
7      107380       european         8.9
8     1099510        reality         8.9
9       12790         action         9.3
10      12790          scifi         9.3
11    1284975          music         8.8
12     129032          music         8.8
13    1296454         comedy         9.2
14    1296454        romance         9.2
15       1303         action         9.3
16       1303      animation         9.3
17       1303         family         9.3
18       1303        fantasy         9.3
19       1303          scifi         9.3
20      13233       thriller         9.5
21        140         horror         9.0
22     140181            war         8.8
23     140194         comedy         9.2
24     140194        romance         9.2
25     140195        romance         9.2
26     140196         comedy         9.2
27     140196        romance         9.2
28      14204          music         8.8
29    1625708          music         8.8
30       1640          music         8.8
31       1641          music         8.8
32       1652          music         8.8
33      16641          music         8.8
34     170376       european         8.9
35       1710          music         8.8
36    1789502          music         8.8
37      20552          crime         9.5
38      20552          drama         9.5
39      20552       thriller         9.5
40      21033         action         9.3
41      21033      animation         9.3
42      21033         family         9.3
43      21033        fantasy         9.3
44      21033          scifi         9.3
45       2150          music         8.8
46      22311        western         8.9
47      22385  documentation         9.1
48      22385        history         9.1
49      22385          sport         9.1
50    2269290          music         8.8
51     231310          music         8.8
52       2740          music         8.8
53      27692          music         8.8
54      28024      animation         9.3
55      28024         family         9.3
56      28024        fantasy         9.3
57      28024          scifi         9.3
58       2806          music         8.8
59      28166        western         8.9
60      28180        western         8.9
61     294917          music         8.8
62       3010          music         8.8
63       3011          music         8.8
64       3012          music         8.8
65       3013          music         8.8
66       3014          music         8.8
67       3015          music         8.8
68       3016          music         8.8
69     301776          music         8.8
70     317847       european         8.9
71     336830         action         9.3
72     336830      animation         9.3
73     336830         family         9.3
74     336830        fantasy         9.3
75     336830          scifi         9.3
76     351504          music         8.8
77     351505          music         8.8
78     351506          music         8.8
79     351507          music         8.8
80     351508          music         8.8
81      36303  documentation         9.1
82      36303        history         9.1
83      36303          sport         9.1
84      37752          crime         9.5
85      37752          drama         9.5
86      37752       thriller         9.5
87      38441         comedy         9.2
88     392464          music         8.8
89      39331         horror         9.0
90     408553  documentation         9.1
91     408553        history         9.1
92     408553          sport         9.1
93     439923  documentation         9.1
94     439923        history         9.1
95     439923          sport         9.1
96      44199         comedy         9.2
97      44199        romance         9.2
98     453970         horror         9.0
99      46263          music         8.8
100     47019            war         8.8
101      4726          music         8.8
102    479703  documentation         9.1
103    479703        history         9.1
104    479703          sport         9.1
105     52379          music         8.8
106      5811          music         8.8
107       614        reality         8.9
108     71076         comedy         9.2
109     71076        romance         9.2
110    727786       european         8.9
111    727787       european         8.9
112    747462         comedy         9.2
113    747462        romance         9.2
114     77040          music         8.8
115     77136          music         8.8
116     77469          music         8.8
117     82056          music         8.8
118    826547            war         8.8
119     84050          music         8.8
120    843741        reality         8.9
121     85485          crime         9.5
122     85756          music         8.8
123     86591         action         9.3
124     86591      animation         9.3
125     86591         family         9.3
126     86591        fantasy         9.3
127     86591          scifi         9.3
128     86694         horror         9.0
129     86802       european         8.9
130     91220          music         8.8
131     93017        western         8.9
132    958249        reality         8.9
133    984016          music         8.8
134    984017          music         8.8
135    984023          music         8.8

这样的排序不是很直观，可以用DataFrame的`sort_values`方法对`genres`进行排序。

In [46]:
imdb_score_max_merge_person_id_sorted = imdb_score_max_merge_person_id.sort_values("genres")
imdb_score_max_merge_person_id_sorted

    person_id         genres  imdb_score
40      21033         action         9.3
71     336830         action         9.3
9       12790         action         9.3
123     86591         action         9.3
15       1303         action         9.3
72     336830      animation         9.3
54      28024      animation         9.3
41      21033      animation         9.3
124     86591      animation         9.3
16       1303      animation         9.3
87      38441         comedy         9.2
96      44199         comedy         9.2
108     71076         comedy         9.2
112    747462         comedy         9.2
26     140196         comedy         9.2
23     140194         comedy         9.2
0      101292         comedy         9.2
13    1296454         comedy         9.2
2      103374         comedy         9.2
121     85485          crime         9.5
37      20552          crime         9.5
84      37752          crime         9.5
102    479703  documentation         9.1
47      22385  documentation         9.1
93     439923  documentation         9.1
90     408553  documentation         9.1
81      36303  documentation         9.1
85      37752          drama         9.5
38      20552          drama         9.5
111    727787       european         8.9
110    727786       european         8.9
7      107380       european         8.9
70     317847       european         8.9
34     170376       european         8.9
129     86802       european         8.9
6      107375       european         8.9
73     336830         family         9.3
42      21033         family         9.3
55      28024         family         9.3
17       1303         family         9.3
125     86591         family         9.3
56      28024        fantasy         9.3
18       1303        fantasy         9.3
43      21033        fantasy         9.3
74     336830        fantasy         9.3
126     86591        fantasy         9.3
103    479703        history         9.1
82      36303        history         9.1
48      22385        history         9.1
94     439923        history         9.1
91     408553        history         9.1
21        140         horror         9.0
89      39331         horror         9.0
128     86694         horror         9.0
98     453970         horror         9.0
106      5811          music         8.8
105     52379          music         8.8
119     84050          music         8.8
122     85756          music         8.8
76     351504          music         8.8
77     351505          music         8.8
78     351506          music         8.8
79     351507          music         8.8
80     351508          music         8.8
130     91220          music         8.8
117     82056          music         8.8
116     77469          music         8.8
133    984016          music         8.8
88     392464          music         8.8
101      4726          music         8.8
115     77136          music         8.8
114     77040          music         8.8
99      46263          music         8.8
67       3015          music         8.8
68       3016          music         8.8
4     1033815          music         8.8
11    1284975          music         8.8
12     129032          music         8.8
28      14204          music         8.8
29    1625708          music         8.8
30       1640          music         8.8
31       1641          music         8.8
32       1652          music         8.8
33      16641          music         8.8
69     301776          music         8.8
35       1710          music         8.8
36    1789502          music         8.8
45       2150          music         8.8
50    2269290          music         8.8
51     231310          music         8.8
135    984023          music         8.8
53      27692          music         8.8
65       3013          music         8.8
62       3010          music         8.8
61     294917          music         8.8
52       2740          music         8.8
63       3011          music         8.8
66       3014          music         8.8
64       3012          music         8.8
134    984017          music         8.8
58       2806          music         8.8
8     1099510        reality         8.9
107       614        reality         8.9
132    958249        reality         8.9
120    843741        reality         8.9
14    1296454        romance         9.2
24     140194        romance         9.2
25     140195        romance         9.2
27     140196        romance         9.2
5      103760        romance         9.2
3      103374        romance         9.2
1      101292        romance         9.2
113    747462        romance         9.2
97      44199        romance         9.2
109     71076        romance         9.2
57      28024          scifi         9.3
75     336830          scifi         9.3
127     86591          scifi         9.3
10      12790          scifi         9.3
19       1303          scifi         9.3
44      21033          scifi         9.3
92     408553          sport         9.1
49      22385          sport         9.1
95     439923          sport         9.1
83      36303          sport         9.1
104    479703          sport         9.1
39      20552       thriller         9.5
20      13233       thriller         9.5
86      37752       thriller         9.5
118    826547            war         8.8
22     140181            war         8.8
100     47019            war         8.8
46      22311        western         8.9
131     93017        western         8.9
59      28166        western         8.9
60      28180        western         8.9

可以看出现在的位置索引是乱的，可以再用一次`reset_index`方法。

In [47]:
imdb_score_max_merge_person_id_sorted = imdb_score_max_merge_person_id_sorted.reset_index()

In [49]:
imdb_score_max_merge_person_id_sorted = imdb_score_max_merge_person_id_sorted.drop("index",axis=1)

In [50]:
imdb_score_max_merge_person_id_sorted

    person_id         genres  imdb_score
0       21033         action         9.3
1      336830         action         9.3
2       12790         action         9.3
3       86591         action         9.3
4        1303         action         9.3
5      336830      animation         9.3
6       28024      animation         9.3
7       21033      animation         9.3
8       86591      animation         9.3
9        1303      animation         9.3
10      38441         comedy         9.2
11      44199         comedy         9.2
12      71076         comedy         9.2
13     747462         comedy         9.2
14     140196         comedy         9.2
15     140194         comedy         9.2
16     101292         comedy         9.2
17    1296454         comedy         9.2
18     103374         comedy         9.2
19      85485          crime         9.5
20      20552          crime         9.5
21      37752          crime         9.5
22     479703  documentation         9.1
23      22385  documentation         9.1
24     439923  documentation         9.1
25     408553  documentation         9.1
26      36303  documentation         9.1
27      37752          drama         9.5
28      20552          drama         9.5
29     727787       european         8.9
30     727786       european         8.9
31     107380       european         8.9
32     317847       european         8.9
33     170376       european         8.9
34      86802       european         8.9
35     107375       european         8.9
36     336830         family         9.3
37      21033         family         9.3
38      28024         family         9.3
39       1303         family         9.3
40      86591         family         9.3
41      28024        fantasy         9.3
42       1303        fantasy         9.3
43      21033        fantasy         9.3
44     336830        fantasy         9.3
45      86591        fantasy         9.3
46     479703        history         9.1
47      36303        history         9.1
48      22385        history         9.1
49     439923        history         9.1
50     408553        history         9.1
51        140         horror         9.0
52      39331         horror         9.0
53      86694         horror         9.0
54     453970         horror         9.0
55       5811          music         8.8
56      52379          music         8.8
57      84050          music         8.8
58      85756          music         8.8
59     351504          music         8.8
60     351505          music         8.8
61     351506          music         8.8
62     351507          music         8.8
63     351508          music         8.8
64      91220          music         8.8
65      82056          music         8.8
66      77469          music         8.8
67     984016          music         8.8
68     392464          music         8.8
69       4726          music         8.8
70      77136          music         8.8
71      77040          music         8.8
72      46263          music         8.8
73       3015          music         8.8
74       3016          music         8.8
75    1033815          music         8.8
76    1284975          music         8.8
77     129032          music         8.8
78      14204          music         8.8
79    1625708          music         8.8
80       1640          music         8.8
81       1641          music         8.8
82       1652          music         8.8
83      16641          music         8.8
84     301776          music         8.8
85       1710          music         8.8
86    1789502          music         8.8
87       2150          music         8.8
88    2269290          music         8.8
89     231310          music         8.8
90     984023          music         8.8
91      27692          music         8.8
92       3013          music         8.8
93       3010          music         8.8
94     294917          music         8.8
95       2740          music         8.8
96       3011          music         8.8
97       3014          music         8.8
98       3012          music         8.8
99     984017          music         8.8
100      2806          music         8.8
101   1099510        reality         8.9
102       614        reality         8.9
103    958249        reality         8.9
104    843741        reality         8.9
105   1296454        romance         9.2
106    140194        romance         9.2
107    140195        romance         9.2
108    140196        romance         9.2
109    103760        romance         9.2
110    103374        romance         9.2
111    101292        romance         9.2
112    747462        romance         9.2
113     44199        romance         9.2
114     71076        romance         9.2
115     28024          scifi         9.3
116    336830          scifi         9.3
117     86591          scifi         9.3
118     12790          scifi         9.3
119      1303          scifi         9.3
120     21033          scifi         9.3
121    408553          sport         9.1
122     22385          sport         9.1
123    439923          sport         9.1
124     36303          sport         9.1
125    479703          sport         9.1
126     20552       thriller         9.5
127     13233       thriller         9.5
128     37752       thriller         9.5
129    826547            war         8.8
130    140181            war         8.8
131     47019            war         8.8
132     22311        western         8.9
133     93017        western         8.9
134     28166        western         8.9
135     28180        western         8.9

接下来在`actors_with_titles`提取出`person_id`和`name`,并删除重复的观察值。

In [57]:
actors_name_and_id = actors_with_titles[["person_id","name"]].drop_duplicates()

现在将`actors_name_and_id`和`imdb_score_max_person_id_sorted`以`person_id`为键进行连接。

In [58]:
imdb_score_max_actors = pd.merge(actors_name_and_id, imdb_score_max_merge_person_id_sorted, on="person_id")
imdb_score_max_actors

    person_id                  name         genres  imdb_score
0       22311       Koichi Yamadera        western         8.9
1        1652            Lukas Haas          music         8.8
2        1641     Leonardo DiCaprio          music         8.8
3       28180        Unsho Ishizuka        western         8.9
4       28166    Megumi Hayashibara        western         8.9
5       93017              Aoi Tada        western         8.9
6      336830       André Sogliuzzo         action         9.3
7      336830       André Sogliuzzo      animation         9.3
8      336830       André Sogliuzzo         family         9.3
9      336830       André Sogliuzzo        fantasy         9.3
10     336830       André Sogliuzzo          scifi         9.3
11       3010  Joseph Gordon-Levitt          music         8.8
12      36303         Dennis Rodman  documentation         9.1
13      36303         Dennis Rodman        history         9.1
14      36303         Dennis Rodman          sport         9.1
15      37752             Anna Gunn          crime         9.5
16      37752             Anna Gunn          drama         9.5
17      37752             Anna Gunn       thriller         9.5
18      13233          Bob Odenkirk       thriller         9.5
19      20552          Betsy Brandt          crime         9.5
20      20552          Betsy Brandt          drama         9.5
21      20552          Betsy Brandt       thriller         9.5
22      85485              RJ Mitte          crime         9.5
23      21033            Zach Tyler         action         9.3
24      21033            Zach Tyler      animation         9.3
25      21033            Zach Tyler         family         9.3
26      21033            Zach Tyler        fantasy         9.3
27      21033            Zach Tyler          scifi         9.3
28      28024           Dante Basco      animation         9.3
29      28024           Dante Basco         family         9.3
30      28024           Dante Basco        fantasy         9.3
31      28024           Dante Basco          scifi         9.3
32       1303         Jessie Flower         action         9.3
33       1303         Jessie Flower      animation         9.3
34       1303         Jessie Flower         family         9.3
35       1303         Jessie Flower        fantasy         9.3
36       1303         Jessie Flower          scifi         9.3
37      86591         Cricket Leigh         action         9.3
38      86591         Cricket Leigh      animation         9.3
39      86591         Cricket Leigh         family         9.3
40      86591         Cricket Leigh        fantasy         9.3
41      86591         Cricket Leigh          scifi         9.3
42      12790           Olivia Hack         action         9.3
43      12790           Olivia Hack          scifi         9.3
44       3011          Ken Watanabe          music         8.8
45       1640             Tom Hardy          music         8.8
46       2806           Elliot Page          music         8.8
47       3013            Dileep Rao          music         8.8
48       3012        Cillian Murphy          music         8.8
49       3015          Tom Berenger          music         8.8
50       3014      Marion Cotillard          music         8.8
51       3016    Pete Postlethwaite          music         8.8
52       2150         Talulah Riley          music         8.8
53      77136       Tohoru Masamune          music         8.8
54      16641          Taylor Geare          music         8.8
55      52379          Claire Geare          music         8.8
56     351504       Johnathan Geare          music         8.8
57      46263          Yuji Okumoto          music         8.8
58      84050          Earl Cameron          music         8.8
59     351505          Ryan Hayward          music         8.8
60      77040         Miranda Nolan          music         8.8
61       1710             Russ Fega          music         8.8
62       4726          Tim Kelleher          music         8.8
63     351506      Coralie Dedykere          music         8.8
64      91220         Silvie Laguna          music         8.8
65     129032        Virgile Bramly          music         8.8
66     351507         Nicolas Clerc          music         8.8
67     351508    Jean-Michel Dagory          music         8.8
68     294917          Marc Raducci          music         8.8
69     984016            Tai-Li Lee          music         8.8
70     984017          Magnus Nolan          music         8.8
71     984023       Helena Cullinan          music         8.8
72    1625708      Mark Fleischmann          music         8.8
73    1033815             Adam Cole          music         8.8
74      85756           Jack Murray          music         8.8
75     231310      Natasha Beaumont          music         8.8
76      82056         Carl Gilliard          music         8.8
77    1789502         Jill Maddrell          music         8.8
78      27692          Alex Lombard          music         8.8
79      14204        Nicole Pulliam          music         8.8
80      77469          Peter Basham          music         8.8
81       2740        Michael Gaston          music         8.8
82     392464           Felix Scott          music         8.8
83       5811        Andrew Pleavin          music         8.8
84    1284975         Lisa Reynolds          music         8.8
85     301776        Shannon Welles          music         8.8
86    2269290     Daniel Girondeaud          music         8.8
87      39331          Marina Inoue         horror         9.0
88     453970        Kisho Taniyama         horror         9.0
89      86802          Ford Kiernan       european         8.9
90     170376         Greg Hemphill       european         8.9
91     727787            Paul Riley       european         8.9
92     727786          Jane McCarry       european         8.9
93     107375         Sanjeev Kohli       european         8.9
94     317847        Gavin Mitchell       european         8.9
95     107380              Mark Cox       european         8.9
96      47019            Kensho Ono            war         8.8
97      86694          Yui Ishikawa         horror         9.0
98        140          Ayane Sakura         horror         9.0
99     103760          Sung Dong-il        romance         9.2
100    103374            Lee Hye-ri         comedy         9.2
101    103374            Lee Hye-ri        romance         9.2
102    140194          Ryu Jun-yeol         comedy         9.2
103    140194          Ryu Jun-yeol        romance         9.2
104     38441           Park Bo-gum         comedy         9.2
105    140195          Lee Dong-hwi        romance         9.2
106    101292         Ryu Hye-young         comedy         9.2
107    101292         Ryu Hye-young        romance         9.2
108    140196          Ahn Jae-hong         comedy         9.2
109    140196          Ahn Jae-hong        romance         9.2
110    747462              Kim Seol         comedy         9.2
111    747462              Kim Seol        romance         9.2
112     44199         Kim Sung-kyun         comedy         9.2
113     44199         Kim Sung-kyun        romance         9.2
114     71076             Ra Mi-ran         comedy         9.2
115     71076             Ra Mi-ran        romance         9.2
116   1296454          Lee Se-young         comedy         9.2
117   1296454          Lee Se-young        romance         9.2
118   1099510        Niklas Ekstedt        reality         8.9
119    958249            Carla Hall        reality         8.9
120       614     Heston Blumenthal        reality         8.9
121    843741           Jayde Adams        reality         8.9
122    826547           Yuto Uemura            war         8.8
123    140181          Naoya Uchida            war         8.8
124     22385        Michael Jordan  documentation         9.1
125     22385        Michael Jordan        history         9.1
126     22385        Michael Jordan          sport         9.1
127    479703        Scottie Pippen  documentation         9.1
128    479703        Scottie Pippen        history         9.1
129    479703        Scottie Pippen          sport         9.1
130    439923            Steve Kerr  documentation         9.1
131    439923            Steve Kerr        history         9.1
132    439923            Steve Kerr          sport         9.1
133    408553          Phil Jackson  documentation         9.1
134    408553          Phil Jackson        history         9.1
135    408553          Phil Jackson          sport         9.1

In [59]:
imdb_score_max_actors_sorted = imdb_score_max_actors.sort_values("genres").reset_index()

In [61]:
imdb_score_max_actors_sorted = imdb_score_max_actors_sorted.drop("index", axis=1)
imdb_score_max_actors_sorted

    person_id                  name         genres  imdb_score
0       12790           Olivia Hack         action         9.3
1       86591         Cricket Leigh         action         9.3
2      336830       André Sogliuzzo         action         9.3
3       21033            Zach Tyler         action         9.3
4        1303         Jessie Flower         action         9.3
5       21033            Zach Tyler      animation         9.3
6       86591         Cricket Leigh      animation         9.3
7      336830       André Sogliuzzo      animation         9.3
8       28024           Dante Basco      animation         9.3
9        1303         Jessie Flower      animation         9.3
10     101292         Ryu Hye-young         comedy         9.2
11      38441           Park Bo-gum         comedy         9.2
12     140194          Ryu Jun-yeol         comedy         9.2
13     747462              Kim Seol         comedy         9.2
14     103374            Lee Hye-ri         comedy         9.2
15      44199         Kim Sung-kyun         comedy         9.2
16      71076             Ra Mi-ran         comedy         9.2
17    1296454          Lee Se-young         comedy         9.2
18     140196          Ahn Jae-hong         comedy         9.2
19      37752             Anna Gunn          crime         9.5
20      20552          Betsy Brandt          crime         9.5
21      85485              RJ Mitte          crime         9.5
22      22385        Michael Jordan  documentation         9.1
23     408553          Phil Jackson  documentation         9.1
24     439923            Steve Kerr  documentation         9.1
25      36303         Dennis Rodman  documentation         9.1
26     479703        Scottie Pippen  documentation         9.1
27      20552          Betsy Brandt          drama         9.5
28      37752             Anna Gunn          drama         9.5
29      86802          Ford Kiernan       european         8.9
30     107380              Mark Cox       european         8.9
31     170376         Greg Hemphill       european         8.9
32     727787            Paul Riley       european         8.9
33     107375         Sanjeev Kohli       european         8.9
34     727786          Jane McCarry       european         8.9
35     317847        Gavin Mitchell       european         8.9
36      28024           Dante Basco         family         9.3
37       1303         Jessie Flower         family         9.3
38     336830       André Sogliuzzo         family         9.3
39      21033            Zach Tyler         family         9.3
40      86591         Cricket Leigh         family         9.3
41       1303         Jessie Flower        fantasy         9.3
42      86591         Cricket Leigh        fantasy         9.3
43      28024           Dante Basco        fantasy         9.3
44      21033            Zach Tyler        fantasy         9.3
45     336830       André Sogliuzzo        fantasy         9.3
46     408553          Phil Jackson        history         9.1
47     439923            Steve Kerr        history         9.1
48      22385        Michael Jordan        history         9.1
49     479703        Scottie Pippen        history         9.1
50      36303         Dennis Rodman        history         9.1
51      39331          Marina Inoue         horror         9.0
52      86694          Yui Ishikawa         horror         9.0
53        140          Ayane Sakura         horror         9.0
54     453970        Kisho Taniyama         horror         9.0
55    1033815             Adam Cole          music         8.8
56      27692          Alex Lombard          music         8.8
57      85756           Jack Murray          music         8.8
58     231310      Natasha Beaumont          music         8.8
59      82056         Carl Gilliard          music         8.8
60    1789502         Jill Maddrell          music         8.8
61       5811        Andrew Pleavin          music         8.8
62      77469          Peter Basham          music         8.8
63       2740        Michael Gaston          music         8.8
64     392464           Felix Scott          music         8.8
65    1284975         Lisa Reynolds          music         8.8
66     301776        Shannon Welles          music         8.8
67    2269290     Daniel Girondeaud          music         8.8
68    1625708      Mark Fleischmann          music         8.8
69      14204        Nicole Pulliam          music         8.8
70     984023       Helena Cullinan          music         8.8
71     351508    Jean-Michel Dagory          music         8.8
72     984016            Tai-Li Lee          music         8.8
73       1652            Lukas Haas          music         8.8
74       1641     Leonardo DiCaprio          music         8.8
75       3010  Joseph Gordon-Levitt          music         8.8
76     984017          Magnus Nolan          music         8.8
77       3011          Ken Watanabe          music         8.8
78       1640             Tom Hardy          music         8.8
79       2806           Elliot Page          music         8.8
80       3013            Dileep Rao          music         8.8
81       3012        Cillian Murphy          music         8.8
82       3015          Tom Berenger          music         8.8
83       3014      Marion Cotillard          music         8.8
84       3016    Pete Postlethwaite          music         8.8
85       2150         Talulah Riley          music         8.8
86       1710             Russ Fega          music         8.8
87      16641          Taylor Geare          music         8.8
88      77136       Tohoru Masamune          music         8.8
89     351507         Nicolas Clerc          music         8.8
90     294917          Marc Raducci          music         8.8
91     351506      Coralie Dedykere          music         8.8
92       4726          Tim Kelleher          music         8.8
93      91220         Silvie Laguna          music         8.8
94     351505          Ryan Hayward          music         8.8
95      84050          Earl Cameron          music         8.8
96      46263          Yuji Okumoto          music         8.8
97     351504       Johnathan Geare          music         8.8
98      52379          Claire Geare          music         8.8
99      77040         Miranda Nolan          music         8.8
100    129032        Virgile Bramly          music         8.8
101    843741           Jayde Adams        reality         8.9
102       614     Heston Blumenthal        reality         8.9
103    958249            Carla Hall        reality         8.9
104   1099510        Niklas Ekstedt        reality         8.9
105    747462              Kim Seol        romance         9.2
106   1296454          Lee Se-young        romance         9.2
107     71076             Ra Mi-ran        romance         9.2
108     44199         Kim Sung-kyun        romance         9.2
109    140195          Lee Dong-hwi        romance         9.2
110    101292         Ryu Hye-young        romance         9.2
111    140194          Ryu Jun-yeol        romance         9.2
112    103374            Lee Hye-ri        romance         9.2
113    103760          Sung Dong-il        romance         9.2
114    140196          Ahn Jae-hong        romance         9.2
115    336830       André Sogliuzzo          scifi         9.3
116     21033            Zach Tyler          scifi         9.3
117     28024           Dante Basco          scifi         9.3
118      1303         Jessie Flower          scifi         9.3
119     86591         Cricket Leigh          scifi         9.3
120     12790           Olivia Hack          scifi         9.3
121    439923            Steve Kerr          sport         9.1
122    479703        Scottie Pippen          sport         9.1
123     22385        Michael Jordan          sport         9.1
124    408553          Phil Jackson          sport         9.1
125     36303         Dennis Rodman          sport         9.1
126     20552          Betsy Brandt       thriller         9.5
127     13233          Bob Odenkirk       thriller         9.5
128     37752             Anna Gunn       thriller         9.5
129    826547           Yuto Uemura            war         8.8
130     47019            Kensho Ono            war         8.8
131    140181          Naoya Uchida            war         8.8
132     93017              Aoi Tada        western         8.9
133     28166    Megumi Hayashibara        western         8.9
134     28180        Unsho Ishizuka        western         8.9
135     22311       Koichi Yamadera        western         8.9

至此，就可以得到各个流派中imdb评分最高的演员的名字。